a {
  color: black;
}

.item-header {
  color: #009688;
}

.post-item {
  padding: 0.01em 16px;
  float: left;
  width: 94.9%;
}

.post-image{
  float: left;
  width: 4.9%;
  border: 1px solid;
  padding: 12px 24px;
}
